body {
    font-family: Arial, sans-serif;
    background-color: lightgray;
    margin: 0 auto;
}
.container{
 max-width: 800px; 
 background-color: white;
 margin: auto;

}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
}
nav {
    background-color: #f0ad4e; /* New background color for the nav */
    padding: 5px 0; /* Add padding inside the nav */
}
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    background-color: #555;
}

section {
    padding: 20px;
    margin: 20px 0;
    background-color: white;
}

section h2 {
    text-decoration: underline;
}

section p {
    color: #555;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
}
